*.class
build/*
dist/*
coverage*/*
doc/*
style-reports/*
test-build/*
test-reports/*
scratch/*
.metadata/*
.project
.classpath
.idea/*
*.DS_Store
Hit.iml
hit.sublime*
items.pdf

myvaults.ser

bin/.gitkeep

infinitest.filters

.settings/org.eclipse.ltk.core.refactoring.prefs

*.pdf

expired.html

nMonth.html

notices.html

removedItems.html

statistics.html

report.html

grp5db.sqlite

grp5db.sqlite
